.rectangle{
    background-color: lightblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 130px;
    height: 100px;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    margin: 10px;
    list-style: none;
}